@{
    ViewBag.Title = "About";
}


<h2>DCHall Trucking</h2>
<hr />
<img src="~/Content/truckimage.jpg" class="w-50 mb-3"/>
<p>DC Hall is a family owned company that has been in business since 1998, with 30 employees based primarily in Florida. Our success as a transportation company is due to our dedication to being safe and reliable for the success of our customers and employees.</p>

<p class="mb-4">Our local drivers run Central and Southern Florida Monday thru Friday with optional Saturday morning runs. They are home daily and paid weekly, with paid Holidays, paid vacation, sick days, and safety bonuses. We offer health insurance and pay 50% of the premium. Dental/vision and short term and long term disability are also included.</p>

<p>Have any questions?</p>
<p><strong>Contact</strong>: (352)476-4501</p>

<a class="btn-link h4" href="https://intelliapp.driverapponline.com/c/dchalltrucking">Apply Now</a>

