<style>
    .logo {
        font-size: 1.3em;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light h4">
    <a class="navbar-brand logo" href="/home/about">DCHall Trucking</a>
    <div class="px-2 mr-auto">
        <a class="btn-link h4" href="https://intelliapp.driverapponline.com/c/dchalltrucking">Apply</a>
    </div>
</nav>



