@model string

@{
    ViewBag.Title = "Confirmation";
}

<div class="container">
    <h3>Thank you for applying</h3>
    <h4>We will review your application and get back to you shortly</h4>

    <p>@Model</p>
</div>

